@charset "UTF-8";

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variáveis */
:root {
    --branco: #ffffff;
    --cinza: #808080;
    --preto: #000000;
}

/* Versão desktop */
main {
    color: var(--branco);
    height: 1200px;
}

.imagem-1 {
    height: 200px;
    margin-top: 200px;
    width: 180px;
}

.imagem-2 {
    border-radius: 15px;
    height: 900px;
    float: right;
    margin-top: 200px;
    width: 320px;
}

article {
    background-color: var(--cinza);
    color: var(--branco);
    padding: 30px;
}
